<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Project Managemet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"  [routerLink]="['/commonHome']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" >Contact</a>
          </li>
          
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li><a class="dropdown-item" [routerLink]="['/create-project']">Create Project</a></li>
              <li><a class="dropdown-item" [routerLink]="['/update-project']">Update Project</a></li>
              <li><a class="dropdown-item" [routerLink]="['/delete-task']">Delete Project</a></li>
              <li><a class="dropdown-item" [routerLink]="['/assign-task']">Assign Task</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li> -->

          <!-- <form class="d-flex" > 
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </ul>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" [routerLink]="['/login']">Login</a></li>
            <li><a class="dropdown-item" [routerLink]="['/commonHome']">Logout</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        
        <svg class="nav-item" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
        </svg>

        
        
      </div>
    </div>
  </nav>



