
<!-- <P>
    Project Managers Lead Project Management
All projects are a temporary effort to create value through a unique product, service or result. All projects have a beginning and an end. They have a team, a budget, a schedule and a set of expectations the team needs to meet. Each project is unique and differs from routine operations—the ongoing activities of an organization—because projects reach a conclusion once the goal is achieved.

The changing nature of work due to technological advances, globalization and other factors means that, increasingly, work is organized around projects with teams being brought together based on the skills needed for specific tasks.

Leading these projects are Project Professionals—people who either intentionally or by circumstance are asked to ensure that a project team meets its goals. Project professionals use many different tools, techniques and approaches to meet the needs of a project.

Some projects are needed to quickly resolve problems, with an understanding that improvements will be made over a period of time. Other projects have a longer duration and/or produce a product or other outcome that will not need major improvements outside of projected maintenance, such as a highway.

Still others will be a mix of both of these types of projects. Project professionals use a variety of skills and knowledge to engage and motivate others to reach a project’s goals. Project professionals are critical to the success of projects and are highly sought after to help organizations achieve their goals.

For a deeper understanding of what it’s like to manage a project, try Kickoff from PMI, a free, 45-minute digital course and toolkit that guides you through the basics of project management.
</P> -->


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <!-- <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </div> -->
    <ul class="nav">
      
      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/adminView']">
          <!-- <span class="menu-icon"> -->
            <img src="https://freesvg.org/img/ftfolder-grey.png" style="height: 30px ; width: 70px;">
            <!-- <i class="mdi mdi-playlist-play"></i> -->
          <!-- </span> -->
          <span class="menu-title">Projects</span>
        </a>
      </li>
     
      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/create-project']">
          <!-- <span class="menu-icon"> -->
            
            <img src="https://th.bing.com/th/id/R.56d8c40149a2358ede500ad5f6790675?rik=w8T2roEHyXgjdg&riu=http%3a%2f%2fcdn.sstatic.net%2fSites%2fdiy%2fImg%2fapple-touch-icon.png&ehk=nIEe8ZUPdtxxXNpLastqBFegfvRt1GqafR9mslcmeWY%3d&risl=&pid=ImgRaw&r=0" style="height: 30px ; width: 40px;">
         
            <!-- <i class="mdi mdi-speedometer"></i> -->
          <!-- </span> -->
          <span class="menu-title">Create project</span>
        </a>
      </li>
     

      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/update-project']">
          <!-- <span class="menu-icon"> -->
            <img src="https://cdn2.iconfinder.com/data/icons/web-icons/512/Synchronize_Arrows-256.png" style="height: 30px ; width: 40px;">
            <!-- <i class="mdi mdi-playlist-play"></i> -->
          <!-- </span> -->
          <span class="menu-title">Update-project</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/delete-task']">
          
            <!-- <img src="https://cdn3.iconfinder.com/data/icons/message-3-flat/512/30_Trash-512.png" style="height: 30px ; width: 40px;"> -->
            <img src="https://img.icons8.com/?size=512&id=99950&format=png" style="height: 30px ; width: 40px;">

            <i class="mdi mdi-table-large"></i>
          
          <span class="menu-title">Delete Project</span>
        </a>
      </li>


      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/assign-task']">
          <!-- <span class="menu-icon"> -->
            <img src="https://static.vecteezy.com/system/resources/previews/000/627/373/original/vector-checklist-icon-symbol-sign.jpg" style="height: 30px ; width: 40px;">
            <i class="mdi mdi-table-large"></i>
          <!-- </span> -->
          <span class="menu-title">Assign Task</span>
        </a>
      </li>
  
    </ul>
</nav>
    
      
    
 <!-- <div class="overview"> -->
  <!-- <h2>Overview</h2><br> -->
<div>
                <!-- <p>Welcome to the Admin Dashboard of the Project Management Application! Here, you have access to various administrative features and controls to manage the system.</p> -->
                <img  src="https://plus.unsplash.com/premium_photo-1683598391853-23dafcf53ff2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80">
              
              
 </div>                  

  <div class="admin">
    <p class="welcome">Welcome!</p>
    <div class="para">
      <pre>Here, you have access to various administrative features 
      and controls to manage the system.</pre>
    </div>
  </div>
<!--   
      <div>
      <button onclick="goBack()" class="back-button">&larr; Go Back</button>
     </div>
       -->
     
    