<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ProjectPrefer - Let's make the project life cycle</title>

  <meta name="title" content="ProjectPrefer - Let's make the project life cycle">

  <!-- <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml"> -->
<!-- 
  <link rel="stylesheet" href="./assets/css/style.css"> -->

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- 
  <link

    href="home1.css"

    rel="stylesheet"> -->




</head>




<body id="top">

<header class="header" data-header>

    <div class="container">




      <!-- <a href="#" class="logo">

        <img src="https://img.icons8.com/?size=512&id=mi4a3pQkHBIn&format=png" width="79" height="50">

      </a> -->




      <!-- <nav class="navbar" data-navbar> -->



<!-- 
        <div class="wrapper"> -->

           <!-- <a href="#" class="logo">

            <img src="https://img.icons8.com/?size=512&id=mi4a3pQkHBIn&format=png" width="60" height="50">

          </a>  -->



<!-- 
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>

            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>

          </button> -->

        <!-- </div> -->




        <!-- <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>
          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>About</a>
          </li>
        </ul>
      </nav> -->

  <main>
    <article>

      <!--

        - #HERO

      -->

      <section class="section hero has-bg-image" id="home" aria-label="home"
        style="background-image: url('https://wallpapercave.com/wp/wp8099727.jpg')">
        <div class="container">
          <div class="hero-content">
            <h1 class="h1 section-title">
        Let's make the<span class="span">Project</span> Life cycle
            </h1>
            <p class="hero-text">
              Project Management is the train engine that moves the organization forward
            </p>




          </div>




          <figure class="hero-banner">




              <div class="img-holder one" style="--width: 270; --height: 300;">

              <img src="https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="270" height="300" alt="hero banner" class="img-cover">

            </div>




            <div class="img-holder two" style="--width: 240; --height: 370;">

              <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="240" height="370" alt="hero banner" class="img-cover">

            </div>




            <!-- <img src="./assets/images/hero-shape-1.svg" width="380" height="190" alt="" class="shape hero-shape-1">




            <img src="./assets/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">

 -->


          </figure>




        </div>

      </section>
      <section class="section category" aria-label="category">

        <div class="container">

          <!-- <p class="section-subtitle">Project Prefer</p> -->

          <h2 class="h2 section-title">

            Unleash your <span class="span">productivity </span> potential with this powerhouse!
          <p class="section-text">

           

          </p>




          <ul class="grid-list">




            <li>

              <div class="category-card" style="--color: 170, 75%, 41%">




                <!-- <div class="card-icon">

                  <img src="https://img.icons8.com/?size=512&id=104229&format=png" width="40" height="40" loading="lazy"

                    alt="Online Degree Programs" class="img">

                </div> -->
                <h3 class="h3">

                  <a href="#" class="card-title">Project Management</a>

                </h3>

                <p class="card-text">

                  Keep tasks in order,deadlines on track and team members aligned with Project Prefer.

                </p>
              </div>

            </li>




            <li>

              <div class="category-card" style="--color: 351, 83%, 61%">




               

<!-- <div class="card-icon">

                  <img src="https://img.icons8.com/?size=512&id=L0E8N57vImv1&format=png" width="40" height="40" loading="lazy"

                    alt="Non-Degree Programs" class="img">

                </div> -->

                <h3 class="h3">

                  <a href="#" class="card-title">Time Management</a>

                </h3>




                <p class="card-text">

                  Craft a well-designed workflow to reclaim your time and unlock your productivity potential..

                </p>




               




              </div>

            </li>




            <li>

              <div class="category-card" style="--color: 229, 75%, 58%">




                <!-- <div class="card-icon">

                  <img src="https://img.icons8.com/?size=512&id=AGID05qjaKdA&format=png" width="40" height="40" loading="lazy"

                    alt="Off-Campus Programs" class="img">

                </div> -->




                <h3 class="h3">

                  <a href="#" class="card-title">Task Management</a>

                </h3>




                <p class="card-text">

                  Helps in organizing, prioritizing, tracking, and completing tasks effectively and efficiently.
                </p>




               




              </div>

            </li>




            <li>

              <div class="category-card" style="--color: 42, 94%, 55%">



<!-- 
                <div class="card-icon">

                  <img src="https://img.icons8.com/?size=512&id=97103&format=png" width="40" height="40" loading="lazy"

                    alt="Hybrid Distance Programs" class="img">

                </div> -->
                <h3 class="h3">
                  <a href="#" class="card-title">Mobile Accessibility</a>
                </h3>
                <p class="card-text">
                 Ensure that team members can stay connected even when away from their computers.
                </p>
              </div>
            </li>
          </ul>
      


      <!--

        - #ABOUT

      -->

      <section class="section about" id="about" aria-label="about">
<div class="container">
          <figure class="about-banner">


<!-- about -->

            <div class="img-holder" style="--width: 520; --height: 370;">
              <img src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" width="520" height="370" loading="lazy" alt="about banner"
                class="img-cover">

            </div>





           

            <!-- <img src="./assets/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""

              class="shape about-shape-3"> -->




          </figure>




          <div class="about-content">




            <p class="section-subtitle">About Us</p>




            <p class="section-text">

              Welcome to our project management application, where we are dedicated to empowering teams and organizations to achieve their project goals with efficiency and ease.Our team is comprised of experienced professionals who are passionate about helping you succeed. We have carefully designed our application to provide the essential features and tools you need, while ensuring user-friendliness and adaptability.We pride ourselves on delivering exceptional customer support and continuous improvement.Join us on this journey and experience the difference in your project outcomes. Let's collaborate, simplify, and achieve greatness together.




            </p>




            <!-- <img src="./assets/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""

              class="shape about-shape-4"> -->




          </div>




        </div>

      </section>








     








  <!--

    - #BACK TO TOP

  -->



<!-- 
  <a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>

    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>

  </a> -->








  <!--

    - custom js link

  -->

  <script src="./assets/js/script.js" defer></script>




  <!--

    - ionicon link

  -->

  <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

 -->






